---
layout: default
---

{% include header.html %}

<div class="wrapper static-wrapper">
  <div class="content-left">
    <h2>About</h2>
    <b>Hey! I’m Matt, a freelance designer from Sydney, Australia and I run, design and maintain this website.</b>
    <p>For as long as I can remember, I have always wanted to work for myself. As a kid – meeting or hearing about adults that ran their own businesses or worked from home seemed like a dream. I didn’t understand why anyone would want it any other way.</p>
    <p>In 2016, after finishing up at design school and having a few brief stints in some startups and design studios – I finally left to freelance full time, and have been in love with it ever since.</p>
    <p>Side projects have been a massive hobby of mine, and this site is now one of them. I wanted to create a site that showcased the amazing work that is being created by a new breed of individuals, the  <i>fun</i>employed.  People who have said no to working a standard nine to five. Those who have said no shitty Monday’s and said yes to doing things their way. Whether that’s freelancing, blogging, playing video games or whatever else it is – I want to showcase it.</p>
    <p>As I work on this site, I’d love to dive deep into what drives these individuals, their motivations for living their lives the way they are, and all the deepest and darkest secrets that go into being a part of this very unique, but rapidly growing trend.</p>
  </div>

<div class="content-right">
    <img src="assets/images/melrose.jpg" class="profile-image-about">
    <b>Connect with Me</b>
    <div class="social-links">
      <a href="http://matthewvernon.co" target="_blank">
        <img src="assets/images/website.svg">
      </a>
      <a href="http://instagram.com/matthewvernon" target="_blank">
        <img src="assets/images/instagram.svg">
      </a>
      <a href="http://twitter.com/alwysnvr" target="_blank">
        <img src="assets/images/twitter.svg">
      </a>
    </div>
  </div>
</div>

{% include newsletter-cta.html %}

{% include footer.html %}
