<header class="site-header">

    <div class="wrapper">

      <h1><a href="/home" class="header-logo"><img src="../assets/images/logotype_red.svg"></a></h1>

      <nav id="desktop-nav">
        <a href="/">Profiles</a>
        <a href="/about">About</a>
      </nav>

      <div id="nav-icon3">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>

    </div>

</header>

<header class="mobile-nav">

  <nav>
    <a href="#">Profiles</a>
    <a href="#">Stories</a>
    <a href="/about">About</a>
  </nav>

</header>
