/* WEBFONTS ========================================= */

/* gordita */

@font-face {
	font-family: 'Gordita';
	src: url('../fonts/hinted-GorditaBlack-BlackItalic.eot');
	src: url('../fonts/hinted-GorditaBlack-BlackItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/hinted-GorditaBlack-BlackItalic.woff2') format('woff2'),
		url('../fonts/hinted-GorditaBlack-BlackItalic.woff') format('woff'),
		url('../fonts/hinted-GorditaBlack-BlackItalic.ttf') format('truetype'),
		url('../fonts/hinted-GorditaBlack-BlackItalic.svg#GorditaBlack-BlackItalic') format('svg');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Gordita';
	src: url('../fonts/hinted-GorditaBold.eot');
	src: url('../fonts/hinted-GorditaBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/hinted-GorditaBold.woff2') format('woff2'),
		url('../fonts/hinted-GorditaBold.woff') format('woff'),
		url('../fonts/hinted-GorditaBold.ttf') format('truetype'),
		url('../fonts/hinted-GorditaBold.svg#GorditaBold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Gordita';
	src: url('../fonts/hinted-GorditaRegular-Italic.eot');
	src: url('../fonts/hinted-GorditaRegular-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/hinted-GorditaRegular-Italic.woff2') format('woff2'),
		url('../fonts/hinted-GorditaRegular-Italic.woff') format('woff'),
		url('../fonts/hinted-GorditaRegular-Italic.ttf') format('truetype'),
		url('../fonts/hinted-GorditaRegular-Italic.svg#GorditaRegular-Italic') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Gordita';
	src: url('../fonts/hinted-GorditaBlack.eot');
	src: url('../fonts/hinted-GorditaBlack.eot?#iefix') format('embedded-opentype'),
		url('../fonts/hinted-GorditaBlack.woff2') format('woff2'),
		url('../fonts/hinted-GorditaBlack.woff') format('woff'),
		url('../fonts/hinted-GorditaBlack.ttf') format('truetype'),
		url('../fonts/hinted-GorditaBlack.svg#GorditaBlack') format('svg');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Gordita';
	src: url('../fonts/hinted-GorditaLight-Italic.eot');
	src: url('../fonts/hinted-GorditaLight-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/hinted-GorditaLight-Italic.woff2') format('woff2'),
		url('../fonts/hinted-GorditaLight-Italic.woff') format('woff'),
		url('../fonts/hinted-GorditaLight-Italic.ttf') format('truetype'),
		url('../fonts/hinted-GorditaLight-Italic.svg#GorditaLight-Italic') format('svg');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Gordita';
	src: url('../fonts/hinted-GorditaMedium-Italic.eot');
	src: url('../fonts/hinted-GorditaMedium-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/hinted-GorditaMedium-Italic.woff2') format('woff2'),
		url('../fonts/hinted-GorditaMedium-Italic.woff') format('woff'),
		url('../fonts/hinted-GorditaMedium-Italic.ttf') format('truetype'),
		url('../fonts/hinted-GorditaMedium-Italic.svg#GorditaMedium-Italic') format('svg');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Gordita';
	src: url('../fonts/hinted-GorditaMedium.eot');
	src: url('../fonts/hinted-GorditaMedium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/hinted-GorditaMedium.woff2') format('woff2'),
		url('../fonts/hinted-GorditaMedium.woff') format('woff'),
		url('../fonts/hinted-GorditaMedium.ttf') format('truetype'),
		url('../fonts/hinted-GorditaMedium.svg#GorditaMedium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Gordita';
	src: url('../fonts/hinted-GorditaLight.eot');
	src: url('../fonts/hinted-GorditaLight.eot?#iefix') format('embedded-opentype'),
		url('../fonts/hinted-GorditaLight.woff2') format('woff2'),
		url('../fonts/hinted-GorditaLight.woff') format('woff'),
		url('../fonts/hinted-GorditaLight.ttf') format('truetype'),
		url('../fonts/hinted-GorditaLight.svg#GorditaLight') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Gordita';
	src: url('../fonts/hinted-GorditaBold-Italic.eot');
	src: url('../fonts/hinted-GorditaBold-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/hinted-GorditaBold-Italic.woff2') format('woff2'),
		url('../fonts/hinted-GorditaBold-Italic.woff') format('woff'),
		url('../fonts/hinted-GorditaBold-Italic.ttf') format('truetype'),
		url('../fonts/hinted-GorditaBold-Italic.svg#GorditaBold-Italic') format('svg');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Gordita';
	src: url('../fonts/hinted-GorditaRegular.eot');
	src: url('../fonts/hinted-GorditaRegular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/hinted-GorditaRegular.woff2') format('woff2'),
		url('../fonts/hinted-GorditaRegular.woff') format('woff'),
		url('../fonts/hinted-GorditaRegular.ttf') format('truetype'),
		url('../fonts/hinted-GorditaRegular.svg#GorditaRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}




/* BEGIN STYLES ===================================== */

body {
  font-family: 'Gordita', sans-serif;
  font-size: 16px;
  font-weight: 400;

  padding: 30px;

  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.wrapper {
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  align-items: center;
}

#content {
  padding-right: 60px;
}

h1 img {
  margin-bottom: 60px;
}

#content h2 {
  font-size: 50px;
  color: #04092B;
}

#content p {
  font-size: 14px;
  color: #9194A9;
  line-height: 2;
  max-width: 460px;
}

/* Mailchimp styling */

input[type=submit] {
  color: white;
  background: ;
  padding: 22px 60px;
  transition: 0.2s;
  border: none;

  font-family: 'Gordita';
}

input[type=submit]:hover {
  background: black;
  color: white;
  cursor: pointer;
}

input[type=submit]:focus {
  outline: none;
}

input[type=email] {
  display: inline;
  padding: 22.5px 20px;
  width: 275px;
  border: 1px solid #DFDFDF;
  outline: none;
  transition: 0.2s;
}

input[type=email]:hover {
  background-color: #f8f8f8;
}

input[type=email]:focus {
  border: 1px solid #ABABAB;
  outline: none;
}

.clear, .mc-field-group {
  display: inline-block;
}

/* remove ugly AF apple mobile styling */

textarea,
input[type="text"],
input[type="button"],
input[type="email"],
input[type="submit"] {
     -webkit-appearance: none;
     border-radius: 0;
}
