---
layout: defaultsub
---

{% include header.html %}

<article class="profile-page">

  <header class="profile-header">
  <div class="wrapper">
    <div class="profile-left">
      <div class="profile-image-page" style="background-image: url(..{{ page['Profile Image'] }})"></div>
    </div>
    <div class="profile-right">
      <h2 class="post-title">{{ page.title }}</h1>
      <p>{{ page.Blurb }}</p>
      <ul class="achievements">
        {% for li in page.Achievements %}
        <li>{{ li }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

</article>

{% include newsletter-cta.html %}

<!-- recent articles -->
<section id="latest-profiles">
  <div class="wrapper">
    <h3>Latest Profiles</h3>
      <div class="profile-cards">
        {% for profiles in site.profiles limit:3 %}
          {% if profiles.title == page.title %}
            {% continue %}
          {% else %}
          <a href="{{ profiles.url | remove: ".html" }}" id="profile-card">
            <div class="profile-card-inner">
              <img src="{{ profiles['Profile Image'] }}" class="card-img">
              <h4>{{ profiles.title }}</h4>
              <p>{{ profiles.Blurb }}</p>
            </div>
          </a>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </section>



{% include footer.html %}
