---
layout: defaultsub
---

{% include header.html %}

<article class="profile-page">

  <header class="profile-header">
  <div class="wrapper">
    <div class="profile-left">
      <div class="profile-image-page" style="background-image: url(..{{ page['Profile Image'] }})"></div>
      <div class="social-icons">
        {% if page.Website %}
        <a href="{{ page.Website }}" target="_blank">
          <img src="../assets/images/website.svg">
        </a>
        {% endif %}
        {% if page.Facebook %}
        <a href="{{ page.Facebook }}" target="_blank">
          <img src="../assets/images/facebook.svg">
        </a>
        {% endif %}
        {% if page.Instagram %}
        <a href="{{ page.Instagram }}" target="_blank">
          <img src="../assets/images/instagram.svg">
        </a>
        {% endif %}
        {% if page.Twitter %}
        <a href="{{ page.Twitter }}" target="_blank">
          <img src="../assets/images/twitter.svg">
        </a>
        {% endif %}
        {% if page.YouTube %}
        <a href="{{ page.YouTube }}" target="_blank">
          <img src="../assets/images/youtube.svg">
        </a>
        {% endif %}
        {% if page.Twitch %}
        <a href="{{ page.Twitch }}" target="_blank">
          <img src="../assets/images/twitch.svg">
        </a>
        {% endif %}
        {% if page.Medium %}
        <a href="{{ page.Medium }}" target="_blank">
          <img src="../assets/images/medium.svg">
        </a>
        {% endif %}
        {% if page.LinkedIn %}
        <a href="{{ page.LinkedIn }}" target="_blank">
          <img src="../assets/images/linkedin.svg">
        </a>
        {% endif %}
      </div>
    </div>
    <div class="profile-right">
      <h2 class="post-title">{{ page.title }}</h1>
      <p>{{ page.Blurb }}</p>
      <ul class="achievements">
        {% for li in page.Achievements %}
        <li>{{ li }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

  <div id="profile-connect">
    <h4>Connect with {{ page.title }}</h4>
    <div class="social-icons">
      {% if page.Website %}
      <a href="{{ page.Website }}" target="_blank">
        <img src="../assets/images/website.svg">
      </a>
      {% endif %}
      {% if page.Facebook %}
      <a href="{{ page.Facebook }}" target="_blank">
        <img src="../assets/images/facebook.svg">
      </a>
      {% endif %}
      {% if page.Instagram %}
      <a href="{{ page.Instagram }}" target="_blank">
        <img src="../assets/images/instagram.svg">
      </a>
      {% endif %}
      {% if page.Twitter %}
      <a href="{{ page.Twitter }}" target="_blank">
        <img src="../assets/images/twitter.svg">
      </a>
      {% endif %}
      {% if page.YouTube %}
      <a href="{{ page.YouTube }}" target="_blank">
        <img src="../assets/images/youtube.svg">
      </a>
      {% endif %}
      {% if page.Twitch %}
      <a href="{{ page.Twitch }}" target="_blank">
        <img src="../assets/images/twitch.svg">
      </a>
      {% endif %}
      {% if page.Medium %}
      <a href="{{ page.Medium }}" target="_blank">
        <img src="../assets/images/medium.svg">
      </a>
      {% endif %}
      {% if page.LinkedIn %}
      <a href="{{ page.LinkedIn }}" target="_blank">
        <img src="../assets/images/linkedin.svg">
      </a>
      {% endif %}
    </div>
  </div>

</article>

{% include newsletter-cta.html %}

<!-- recent articles -->
<section id="latest-profiles">
  <div class="wrapper">
    <h3>Latest Profiles</h3>
      <div class="profile-cards">
        {% for profiles in site.profiles limit:3 %}
          {% if profiles.title == page.title %}
            {% continue %}
          {% else %}
          <a href="{{ profiles.url | remove: ".html" }}" id="profile-card">
            <div class="profile-card-inner">
              <img src="{{ profiles['Profile Image'] }}" class="card-img">
              <h4>{{ profiles.title }}</h4>
              <p>{{ profiles.Blurb }}</p>
            </div>
          </a>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </section>



{% include footer.html %}
