---
layout: default
---

<article class="profile-page">

  <header class="profile-header">
    <div class="profile-left">
      <div class="profile-image-page" style="background-image:{{ profiles.Image }}"></div>
    </div>
    <div class="profile-right">
      <h2 class="post-title">{{ profiles.title }}</h1>
      <p>{{ profiles.Blurb }}</p>
      <ul class="achievements">
        <li>{{ profiles.Achievements }}</li>
      </ul>
    </div>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

</article>
